.shadowRoot {
  width: 95%;
  margin-left: 2.5%;
}

.btn.btn-secondary:hover {
  background-color: rgb(98, 107, 115);
}

/* This makes sure the data rows are all one line, don't wrap to the next line */
table.dataTable td {
  white-space: nowrap;
}

/* This makes sure the header rows are all one line, don't wrap to the next line */
table.dataTable th {
  white-space: nowrap;
}

#teamFilter {
  display: flex;
}

.team-filter-group {
  width: 33%;
}

#weekRangeRoot {
  height: 50px;
  margin-top: 20px;
}

#weekRangeRoot .weekRangeLabelContainer {
  display: flex;
  justify-content: space-between;
}

#weekRangeRoot .weekRangeLabel {
  width: 20px;
}
