.refreshScoresButton {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 16px;
  background-color: #e7e7e7;
  color: black;
  font-size: 12px;
  padding: 8px 16px;
}

.refreshScoresButton:hover {
  background-color: white;
}

.shadowRoot {
  width: 95%;
  margin-left: 2.5%;
}

/* This makes sure the data rows are all one line, don't wrap to the next line */
table.dataTable td {
  white-space: nowrap;
}

table.dataTable th {
  white-space: nowrap;
}

#teamFilter {
  display: flex;
}

.team-filter-group {
  width: 33%;
}

#weekRangeRoot {
  height: 50px;
  margin-top: 20px;
}

#weekRangeRoot .weekRangeLabelContainer {
  display: flex;
  justify-content: space-between;
}

#weekRangeRoot .weekRangeLabel {
  width: 20px;
}
